<!DOCTYPE html>
@{
    Layout = null;
}
@model Clean.Core.Domain.ApplicationUser.RegisterModel


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title - Register</title>
    @Styles.Render("~/Content/SomeStile.css")
</head>

<body class="page-content" style="background-image:-webkit-linear-gradient( 136deg, rgb(0,0,0) 0%, rgb(86,52,0) 100%)">
    <div class="form-v8-content" style="background:#fff0">
        <div class="form-left" style="margin-bottom:-4px">
            <img alt="form" height="588" width="469" src="~/Content/img/RegPic.jpg" />
        </div>
        <div class="form-right" style="background: #352400">
            <div class="tab">
                <div class="tab-inner">
                    <button class="tablinks actives" id="defaultOpen" onclick="openCity(event, 'sign-up')">Sign up</button>
                </div>
                <div class="tab-inner">
                    <button class="tablinks" onclick="openCity(event, 'sign-in')">Sign In</button>
                </div>
            </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-detail", role = "form" }))
            {
                <div class="tabcontent" id="sign-up" style="display: block;">
                    <div class="form-row">
                        @Html.LabelFor(m => m.UserName)
                        <div class="form-row-inner">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(m => m.Password)
                        <div class="form-row-inner">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(m => m.PasswordConfirm)
                        <div class="form-row-inner">
                            @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="form-row-last">
                        <input name="register" class="register" type="submit" value="Register" />
                    </div>
                </div>
            }

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-detail", role = "form" }))
            {

                @Html.AntiForgeryToken()

                <div class="tabcontent" id="sign-in" style="display: none;">
                    <div class="form-row">
                        @Html.LabelFor(m => m.UserName)
                        <div class="form-row-inner">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "" })
                        </div>
                    </div>

                    <div class="form-row">
                        @Html.LabelFor(m => m.Password)
                        <div class="form-row-inner">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="form-row-last">
                        <input name="register" class="register" type="submit" value="Sign in" />
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://www.google-analytics.com/analytics.js" type="text/javascript" async=""></script>
    <script type="text/javascript">
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" actives", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " actives";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" async=""></script>

</body>
</html>
